In [142]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

We start off by loading and then merging the datasets we want to use:

In [143]:
dat1 = pd.read_csv("key.csv", sep=',')
dat2 = pd.read_csv("SP500_finratios.csv", sep=',', parse_dates=['adate', 'qdate', 'public_date'])
dat3 = pd.read_csv("ratings2.csv", sep=',', parse_dates=['datadate'])

In [144]:
#the columns of the first data set are renamed to match the names of the other data sets
dat1.columns = ["gvkey","linktype","permno","permco","linkdt","linkenddt","conm","tic","cusip"]

In [145]:
#the duplicates in the key data set are removed, so that pd.merge() will work
dat1 = dat1.set_index("permno")
dat1 = dat1[~dat1.index.duplicated(keep="first")]

In [146]:
#the variable datadate is renamed public_date and both are transformed to the same format, so that
#pd.merge()recognises them as one and the same
dat3['public_date'] = dat3['datadate']
del dat3['datadate']
dat2['public_date'] = pd.to_datetime(dat2.public_date)
dat3['public_date'] = pd.to_datetime(dat3.public_date)

In [147]:
dat1and2 = pd.merge(dat1, dat2, on="permno", how="outer", validate="one_to_many")

In [148]:
dat = pd.merge(dat1and2, dat3, on=["gvkey", "public_date", "conm", "tic", "cusip"], how="outer", validate="one_to_one")

In [149]:
dat

,permno,gvkey,linktype,permco,linkdt,linkenddt,conm,tic,cusip,adate,...,debt_capital,de_ratio,cash_ratio,quick_ratio,curr_ratio,at_turn,ptb,PEG_trailing,DIVYIELD,splticrm
0,21020.0,1045.0,LC,20010.0,19500101.0,19620130,AMERICAN AIRLINES GROUP INC,AAL,02376R102,2008-12-31,...,1.338,-9.366,0.428,0.603,0.664,0.816,NaN,NaN,NaN,B-
1,21020.0,1045.0,LC,20010.0,19500101.0,19620130,AMERICAN AIRLINES GROUP INC,AAL,02376R102,2009-12-31,...,1.376,-8.291,0.629,0.787,0.859,0.787,NaN,NaN,NaN,B-
2,21020.0,1045.0,LC,20010.0,19500101.0,19620130,AMERICAN AIRLINES GROUP INC,AAL,02376R102,2009-12-31,...,1.376,-8.291,0.629,0.787,0.859,0.787,NaN,NaN,NaN,B-
3,21020.0,1045.0,LC,20010.0,19500101.0,19620130,AMERICAN AIRLINES GROUP INC,AAL,02376R102,2009-12-31,...,1.376,-8.291,0.629,0.787,0.859,0.787,NaN,NaN,NaN,B-
4,21020.0,1045.0,LC,20010.0,19500101.0,19620130,AMERICAN AIRLINES GROUP INC,AAL,02376R102,2009-12-31,...,1.366,-8.617,0.551,0.712,0.780,0.799,NaN,NaN,NaN,B-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41711,NaN,316056.0,NaN,NaN,NaN,NaN,ALLEGION PLC,ALLE,G0176J109,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BBB-
41712,NaN,316056.0,NaN,NaN,NaN,NaN,ALLEGION PLC,ALLE,G0176J109,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BBB-
41713,NaN,316056.0,NaN,NaN,NaN,NaN,ALLEGION PLC,ALLE,G0176J109,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BBB-
41714,NaN,316056.0,NaN,NaN,NaN,NaN,ALLEGION PLC,ALLE,G0176J109,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BBB-
41715,NaN,316056.0,NaN,NaN,NaN,NaN,ALLEGION PLC,ALLE,G0176J109,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BBB-

In [150]:
pd.isnull(dat).sum()

permno             4517
gvkey                37
linktype           4554
permco             4554
linkdt             4554
linkenddt          4554
conm                 37
tic                  37
cusip                37
adate              4593
qdate              4575
public_date          58
bm                 5520
ps                 4592
pcf                4622
dpr                6849
npm                4592
gpm                4592
cfm                4690
roa                4622
roe                5550
roce               4788
efftax             7200
GProf              4592
equity_invcap      4601
debt_invcap        4717
totdebt_invcap     4740
capital_ratio      4708
int_debt           9068
int_totdebt        8814
cash_lt            4627
invt_act          10052
debt_at            4731
debt_ebitda        4817
short_debt         6442
curr_debt          9755
lt_debt            4708
ocf_lct            9741
cash_debt          4870
fcf_ocf            5412
dltt_be            5572
debt_assets        4627
debt_capital       4862
de_ratio           4627
cash_ratio         9720
quick_ratio        9720
curr_ratio         9720
at_turn            4622
ptb                5520
PEG_trailing      17462
DIVYIELD          14322
splticrm          12377
dtype: int64

In [151]:
dat.isnull().sum()/len(dat)

permno            0.108280
gvkey             0.000887
linktype          0.109167
permco            0.109167
linkdt            0.109167
linkenddt         0.109167
conm              0.000887
tic               0.000887
cusip             0.000887
adate             0.110102
qdate             0.109670
public_date       0.001390
bm                0.132323
ps                0.110078
pcf               0.110797
dpr               0.164182
npm               0.110078
gpm               0.110078
cfm               0.112427
roa               0.110797
roe               0.133042
roce              0.114776
efftax            0.172596
GProf             0.110078
equity_invcap     0.110293
debt_invcap       0.113074
totdebt_invcap    0.113625
capital_ratio     0.112858
int_debt          0.217375
int_totdebt       0.211286
cash_lt           0.110917
invt_act          0.240963
debt_at           0.113410
debt_ebitda       0.115471
short_debt        0.154425
curr_debt         0.233843
lt_debt           0.112858
ocf_lct           0.233508
cash_debt         0.116742
fcf_ocf           0.129734
dltt_be           0.133570
debt_assets       0.110917
debt_capital      0.116550
de_ratio          0.110917
cash_ratio        0.233004
quick_ratio       0.233004
curr_ratio        0.233004
at_turn           0.110797
ptb               0.132323
PEG_trailing      0.418592
DIVYIELD          0.343322
splticrm          0.296697
dtype: float64

In [152]:
dat["splticrm"].value_counts()

BBB     5599
BBB+    5104
A-      4053
A       3451
BBB-    3175
A+      1962
BB+     1591
BB-      957
AA-      941
BB       888
AA       417
B+       361
AAA      296
AA+      199
B        135
B-       133
CCC+      50
D         25
CCC        2
Name: splticrm, dtype: int64

In [153]:
des = dat.loc[:, "bm":].describe()
ind = [3, 1, 5, 7]
print(des.iloc[ind])

              bm          ps         pcf        dpr        npm        gpm  \
min     0.001000    0.047000 -225.440000  -1.795000 -51.493000 -37.707000
mean    0.504009    2.668572   12.395051   0.452553   0.085367   0.434467
50%     0.385000    1.823000   11.231500   0.273000   0.092000   0.406000
max   137.237000  145.774000  280.893000  80.554000  14.836000   1.169000

            cfm       roa        roe     roce  ...     dltt_be  debt_assets  \
min  -47.694000 -0.595000 -34.647000 -3.56000  ...    0.000000     0.043000
mean   0.158389  0.145155   0.180717  0.18324  ...    0.954561     0.618871
50%    0.152500  0.138000   0.139000  0.15700  ...    0.482000     0.616000
max   14.836000  1.010000  37.037000  6.61500  ...  290.238000     1.919000

      debt_capital     de_ratio  cash_ratio  quick_ratio  curr_ratio  \
min       0.002000 -1228.100000    0.000000     0.091000     0.11300
mean      0.494872     2.815715    0.808162     1.535201     1.93452
50%       0.469000     1.543000    0.466000     1.198000     1.59500
max       4.361000  1818.100000   11.403000    12.825000    12.82500

       at_turn       ptb  PEG_trailing
min   0.008000   0.18100    -33.082000
mean  0.819666   4.07197      2.701032
50%   0.648000   2.65050      1.121000
max   5.912000  65.48600    100.212000

[4 rows x 38 columns]